/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running locally
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline on a local machine.

    Use as follows:
        nextflow run nf-core/mlomix -profile local,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Development-specific container settings
docker {
    runOptions = '-u $(id -u):$(id -g)'
}

conda {
    enabled = true
    channels = ['conda-forge', 'bioconda']
}

process {
    withLabel: process_medium {
        memory = 8.GB
        cpus = 6
        time = 24.h
    }

    withLabel: process_high {
        memory = 26.GB
        cpus = 8
        time = 24.h
    }
}

executor {
    cpus   = 10
    memory = 28.GB
}
